<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<nav class="navbar navbar-expand-lg navbar-light bg-light px-5">

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item">
                <a routerLink="./ajouter-produit" class="nav-link"><i class="fa fa-plus-circle"></i>Ajotuer Produit</a>
            </li>
            <li class="nav-item">
                <a routerLink="./gerer-produits" class="nav-link"><i class="fa fa-sitemap"></i>Gérer Produits</a>
            </li>

        </ul>

    </div>
</nav>
<router-outlet></router-outlet>