<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<h3 class="m-3"><i class="fa fa-list-alt"></i>Produits</h3>
<div class="row m-4 w-50 mx-auto">
    <div *ngFor="let produit of listProduits" class="card m-2" style="width: 18rem;">

        <div class="card" style="width: 16rem;">
            <img class="card-img-top" src="../../assets//{{ produit.image }}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{produit.titre}}</h5>
              <p class="card-text">{{produit.description}}</p>
              <button (click)="addPanier(produit)" class="btn btn-primary"><i class="fa fa-cart-plus"></i> Add</button>
            </div>
          </div>
    </div>


</div>