<h3 class="m-4">Ajouter Produit</h3>
<div class="col-lg-4 m-auto">

    <form #f="ngForm" (ngSubmit)="addProduitHandler(f.value)">
        <div class="row">
            <div class="col">
                <label for="titre">Titre</label>
                <input ngModel name="titre" type="text" class="form-control" id="exampleInputEmail1"
                    aria-describedby="emailHelp" placeholder="Enter Title">
            </div>
            <div class="col">
                <label for="exampleInputPassword1">Description</label>
                <input ngModel name="description" type="text" class="form-control" id="exampleInputPassword1"
                    placeholder="Description">
            </div>
          </div>
          <div class="row">
            <div class="col">
                <label for="exampleInputPassword1">Prix</label>
                <input ngModel name="prix" type="text" class="form-control" id="exampleInputPassword1"
                    placeholder="Description">
            </div>
            <div class="col">
                <label for="exampleInputPassword1">Image</label>
                <input ngModel name="image" type="text" class="form-control" id="exampleInputPassword1"
                    placeholder="Description">
            </div>
          </div>
      
        <button type="submit" class="btn btn-primary my-2">Ajouter</button>
    </form>
</div>